.Wrapper{
    width: 100%;
    min-height: 100%;
}

.hero{
    width: 100%;
    padding: 20% 0% 19%;
    background: url(../assets.img/abg.jpg) no-repeat center;
    left: 0px;
    right: 0px;
    max-width: 120%;
    max-height: 100%;
    background-size: cover;
   position: absolute;
    margin-top: 11.6em;
    background-attachment: fixed;
}

.Header .Logo{
    float: left;
}

.headerbg{
    position: absolute;
    width: 100%;
    height: 188px;
    left: 0px;
    top: 0px;

    background-color: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.Logo img{
    position: absolute;
    width: 133px;
    height: 133px;
    left: 30px;
    top: 27px;
}

.HH1{
    position: absolute;
    width: 531px;
    height: 70px;
    left: 189px;
    top: 43px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;
    font-size: 1em;
    line-height: 2em;
}

.HH2{
    font-size: 0.8em;
}

.line1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.line2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.line3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.Menu li a:hover{
    background-color: darkolivegreen;
    border-radius: 1.5em;
}

.RightOptions li{
    list-style-type: none;
    float: right;
}

.RightOptions li a{
    font-weight: bolder;
    display: block;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.3em;
    margin-top: 2.5em;
    margin-right: 0.8em;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.Menu .Button{
    font-weight: bolder;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    margin-top: 2.5em;
    margin-right: 0.8em;
    background-color: #100B0B;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
}

.Menu .Button:hover{
   background-color: darkolivegreen; 
   border-radius: 0.5em;
}

.homeText {
    background: rgba(0, 0, 0, 0.5);
    padding: 5em;
}

.schoolBackgroundTitle{
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

.schoolBackgroundTitle li{
   float: left;
   position: relative;
   left: 5em;
   bottom: 255px;
   font-style: 'Oswald', sans-serif;
   src: url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@600&family=Roboto+Slab:wght@800&display=swap');
   font-size: 1.7em;
   font-weight: 900;
   font-style: bolder;
   color: white;
   padding-right: 12em;
   line-height: 0.5em;
}

.schoolBackgroundTitle li p{
    width: 3.58em; 
    margin-left: 1.75em;
}

.schoolBackgroundText{
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

.schoolBackgroundText li{
   float: left;
   position: relative;
   left: 6.3em;
   bottom: 250px;
   font-style: 'Poppins', sans-serif;
   font-size: 1.09em;
   font-weight: 400;
   color: white;
   padding-right: 12em;
}

.schoolBackgroundText li p{
    width: 15em;
}

.aboutText {
    margin: auto;
    text-align: center;
}

.popup{
    background: (0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 5em;
    display: none;
    justify-content: center;
    align-items: center;
}

.loginForm{
    height: 320px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    bottom: 8em;
    border: solid 2px black;
}
.loginHeader{
    width: 542px;
    height: 117px;
    position: relative;
    bottom: 0.5em;
    right: 0.5em;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Grandstander', cursive;
    color: white;
    line-height: 120px;

    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.submit {
    text-decoration: none;
    position: relative;
    left: 42%;
    top: 1em;
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-align: center;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 4.7em;
    color: white;
    font-family: 'Inter', sans-serif;
}

.submit:hover{
    background-color: black;
    border-radius: 0.7em;
}

.close{
    position: relative;
    left: 31.9em;
    bottom: 9.5em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.register{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 1em 1.5em 1em;
    background: #2C7A56;
    position: absolute;
    top: 62em;
    left: 3em;
    border-radius: 2em;
}

.register:hover{
    background: black;
}

.borrow{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 1em 1.5em 1em;
    background: #2C7A56;
    position: absolute;
    top: 62em;
    left: 95em;
    border-radius: 2em;
}

.borrow:hover{
    background: black;
}

.mainText {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

.mainText .line2 {
}



.registerHeaderText{
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Grandstander', cursive;
    color: white;
    line-height: 120px;
}


.Register1{
    background: (0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: relative;
    top: 43.74em;
    right: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerHeader1{
    position: relative;
    right: 2em;
    bottom: 1.3em;
    width: 47em;
    height: 117px;

    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.registerForm1{
    height: 32.1em;
    width: 43.7em;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    right: 1.4em;
    border: solid 1px;
}

.registerBody1{
    margin: 20px auto;
    display: block;
    width: 40em;
    position: relative;
    top: 1.6em;
    padding: 8px;
}

.Register2{
    background: (0, 0, 0, 0.6);
    height: 100%;
    width: 47%;
    position: relative;
    top: 9.11em;
    left: 46.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerHeader2{
    position: relative;
    right: 1.3em;
    bottom: 1.4em;
    width: 43.8em;
    height: 117px;

    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.registerForm2{
    height: 32em;
    width: 41.2em;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: solid 1px;
}

.registerBody2{
    margin: 20px auto;
    display: block;
    width: 40em;
    position: relative;
    top: 2.7em;
    padding: 8px;
}

.registerButton1{
    text-decoration: none;
    position: relative;
    text-align: center;
    left: 42%;
    top: 3.2em;
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-align: center;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 6.3em;
    color: white;
    font-family: 'Inter', sans-serif;
}

.registerButton2{
    text-decoration: none;
    position: relative;
    text-align: center;
    left: 42%;
    top: 5em;
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-align: center;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 6.3em;
    color: white;
    font-family: 'Inter', sans-serif;
}

.registerButton1:hover{
     background: black;
     border-color: #2C7A56;
     border: 1em;
}

.registerButton2:hover{
     background: black;
     border-color: #2C7A56;
     border: 1em;
}

