body {
    color: whitesmoke;
    background-color: darkslategray;
}

.TopBar {
    color: aquamarine;
    font-size: 2em;
}

.TopBar .Logo {
    float: left;
}

.TopBar nav {
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.right li{
    list-style-type: none;
    float: right;
}

.right li a{
    display: block;
    color: yellow;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.right li a:hover{
    background-color: #111111;
}
