.Wrapper{
    width: 100%;
    min-height: 100%;
    background: url(../assets.img/abg.jpg), url(../assets.img/bbg.jpg) no-repeat center;
    left: 0px;
    right: 0px;
    max-width: 120%;
    max-height: 100%;
    background-size: cover;
    position: absolute;
    margin-top: 11.6em;
    background-attachment: fixed;
}

.hero{
    width: 100%;
    left: 0px;
    right: 0px;
    max-width: 120%;
    max-height: 100%;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
}

.Header .Logo{
    float: left;
}

.headerbg{
    position: absolute;
    width: 100%;
    height: 188px;
    left: 0px;
    top: 0px;

    background-color: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.Logo img{
    position: absolute;
    width: 133px;
    height: 133px;
    left: 30px;
    top: 27px;
}

.HH1{
    position: absolute;
    width: 531px;
    height: 70px;
    left: 189px;
    top: 43px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;
    font-size: 1em;
    line-height: 2em;
}

.HH2{
    font-size: 0.8em;
}

.line1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.line2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.line3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.Menu li a:hover{
    background-color: darkolivegreen;
    border-radius: 1.5em;
}

.RightOptions li{
    list-style-type: none;
    float: right;
}

.RightOptions li a{
    font-weight: bolder;
    display: block;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.3em;
    margin-top: 2.5em;
    margin-right: 0.8em;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.Menu .Button{
    font-weight: bolder;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    margin-top: 2.5em;
    margin-right: 0.8em;
    background-color: #100B0B;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
}

.Menu .Button:hover{
   background-color: darkolivegreen; 
   border-radius: 0.5em;
}

.bottomButtons{
    position: relative;
    right: 2%;
    top: 12em;
}


.bottomButtons li{
    list-style-type: none;
}    

.bottomButtons li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    float: right;
    padding: 0.7em 1.5em 0.7em;
    background: rgba(0, 0, 0, 0.5);
}

.bottomButtons li a:hover{
    background: darkolivegreen;
    border-radius: 2em;
}

.homeText {
    background: rgba(0, 0, 0, 0.5);
    padding: 5em;
    position: relative;
    top: 9em;
}

.schoolBackgroundTitle{
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

.schoolBackgroundTitle li{
   float: left;
   position: relative;
   left: 5em;
   bottom: 255px;
   font-style: 'Oswald', sans-serif;
   src: url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@600&family=Roboto+Slab:wght@800&display=swap');
   font-size: 1.7em;
   font-weight: 900;
   font-style: bolder;
   color: white;
   padding-right: 12em;
   line-height: 0.5em;
}

.schoolBackgroundTitle li p{
    width: 3.58em; 
    margin-left: 1.75em;
}

.schoolBackgroundText{
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

.schoolBackgroundText li{
   float: left;
   position: relative;
   left: 6.3em;
   bottom: 250px;
   font-style: 'Poppins', sans-serif;
   font-size: 1.09em;
   font-weight: 400;
   color: white;
   padding-right: 12em;
}

.schoolBackgroundText li p{
    width: 15em;
}


.popup{
    background: (0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 5em;
    display: none;
    justify-content: center;
    align-items: center;
}


.loginForm{
    height: 320px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    bottom: 8em;
    border: solid 2px black;
}
.loginHeader{
    width: 542px;
    height: 117px;
    position: relative;
    bottom: 0.5em;
    right: 0.5em;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Grandstander', cursive;
    color: white;
    line-height: 120px;

    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.submit {
    text-decoration: none;
    position: relative;
    left: 42%;
    top: 1em;
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-align: center;
    border: none;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 4.7em;
    color: white;
    font-family: 'Inter', sans-serif;
}

.submit:hover{
    background-color: black;
    border-radius: 0.7em;
}

.close{
    position: relative;
    left: 31.9em;
    bottom: 9.5em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mainText {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

.mainText1 {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 0.7em;
}

.mainText1 .line2 {
}



.registerHeaderText{
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Grandstander', cursive;
    color: white;
    line-height: 120px;
}


.Register1{
    background: (0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 22.7%;
    right: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerHeader1{
    position: relative;
    right: 2em;
    bottom: 1.3em;
    width: 47em;
    height: 117px;

    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.registerForm1{
    height: 32.1em;
    width: 43.7em;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    right: 1.4em;
    border: solid 1px;
}

.registerBody1{
    margin: 20px auto;
    display: block;
    width: 40em;
    position: relative;
    top: 1.6em;
    padding: 8px;
}

.Register2{
    background: (0, 0, 0, 0.6);
    height: 100%;
    width: 47%;
    position: relative;
    bottom: 34.67em;
    left: 46.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerHeader2{
    position: relative;
    right: 1.3em;
    bottom: 1.4em;
    width: 43.8em;
    height: 117px;

    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.registerForm2{
    height: 32em;
    width: 41.2em;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: solid 1px;
}

.registerBody2{
    margin: 20px auto;
    display: block;
    width: 40em;
    position: relative;
    top: 2.7em;
    padding: 8px;
}

.registerButton1{
    text-decoration: none;
    position: relative;
    text-align: center;
    left: 42%;
    top: 3.2em;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 6.3em;
    color: white;
    font-family: 'Inter', sans-serif;
    border: none;
}

.registerButton2{
    text-decoration: none;
    position: relative;
    text-align: center;
    left: 42%;
    top: 5em;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 6.3em;
    color: white;
    font-family: 'Inter', sans-serif;
    border: none;
}

.registerButton1:hover{
     background: black;
     border-color: #2C7A56;
}

.registerButton2:hover{
     background: black;
     border-color: #2C7A56;
}

.select-area{
    background: whitesmoke;
}

.aboutText{
    font-family: "Poppins", sans-serif;
    position: relative;
    bottom: 3em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.aboutTitle{
    min-height: 100vh;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Kdam Thmor Pro', sans-serif;
    top: 6.2em;
}

.insti{
    min-height: 100vh;
    text-align: center;
    font-size: 17px;
    padding: 4em;
    position: relative;
    top: 10em;
}


.insti h3{
    font-size: 70px;
    text-align: center;
}

.mission{
    min-height: 100vh;
    text-align: center;
    font-size: 17px;
    padding: 4em;
    position: relative;
    top: 11em;
}

.mission h3{
    font-size: 70px;
    text-align: center;
}

.vision{
    min-height: 100vh;
    text-align: center;
    font-size: 17px;
    padding: 2em;
    padding-top: 14em;
    position: relative;
}

.vision h3{
    font-size: 70px;
    text-align: center;
}

.bg2{
    background: url(../assets.img/insti.jpg) no-repeat center;
    background-size: cover;
}

.bg3{
    background: url(../assets.img/hallway.jpg) no-repeat center;
    background-size: cover;
}

.bg4{
    background: url(../assets.img/park.jpg) no-repeat center;
    background-size: cover;
}

.back-button{
    position: fixed;
    bottom: 5em;
    right: 3em;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    border: none;
    color: white;
    font-weight: 700;
    background: #2C7A56;
    float: right;
}

.back-button:hover{
    background: black;
}

.insti-button:hover{
    background: black;
}

.mission-button:hover{
    background: black;
}

.vision-button:hover{
    background: black;
}

.mission-button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 38em;
    color: white;
    width: 7em;
    height: 2.7em;
    background: #2C7A56;
    text-transform: uppercase;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.insti-button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    left: 40em;
    top: 40.7em;
    color: white;
    width: 7em;
    height: 2.7em;
    background: #2C7A56;
    text-transform: uppercase;
    border: none;
    display: block;
}

.vision-button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    float: right;
    right: 40em;
    top: 35.3em;
    color: white;
    width: 7em;
    height: 2.7em;
    background: #2C7A56;
    text-transform: uppercase;
    border: none;
    display: block;
}

html{
    scroll-behavior: smooth;
}

.tableButton{
    color: black;
    position: relative;
    left: 3.2em;
}

.visitorTitle{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 3.5em;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.visitorBG{
    
}

.visitorButtons{
    position: relative;
    top: 1em;
}

.unregisteredButton{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    color: white;
    width: 11em;
    height: 2.7em;
    background: #2C7A56;
    text-transform: uppercase;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.registeredButton{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 0.6em;
    color: white;
    width: 11em;
    height: 2.7em;
    background: #2C7A56;
    text-transform: uppercase;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.unregisteredButton:hover{
    background: black;
}

.registeredButton:hover{
    background: black;
}

.unregHeader{
    position: relative;
    margin-top: 30%;
    width: 100%;
    height: 117px;
    
    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.unregTitle{
    color: white;
    font-family: "Grandstander", cursive;
    text-align: center;
    position: relative;
    top: 1.1em;
    font-size: 40px;

}

.unregBody{
    background: white;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 1.3em;
}

.unregForm{
    position: relative;
    top: 5em;
}

.visitorSubmit1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 5em;
    color: white;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    border: none;
    position: relative; 
    top: 5em;
}

.visitorSubmit1:hover{
    background: black;
    cursor: pointer;
}

.regHeader{
    position: relative;
    margin-top: 30%;
    width: 100%;
    height: 117px;
    
    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.regTitle{
    color: white;
    font-family: "Grandstander", cursive;
    text-align: center;
    position: relative;
    top: 1.1em;
    font-size: 40px;

}

.regBody{
    background: white;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 1.3em;
}

.regForm{
    position: relative;
    top: 7em;
}

.visitorSubmit2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 5em;
    color: white;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    border: none;
    position: relative; 
    top: 5em;
}

.visitorSubmit2:hover{
    background: black;
    cursor: pointer;
}

.RegisteredVisitorForm{
    position: relative;
}

.visitorHeader{
    position: relative;
    margin-top: 30%;
    width: 100%;
    height: 117px;
    
    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.numberTitle{
    color: white;
    font-family: "Grandstander", cursive;
    text-align: center;
    position: relative;
    top: 1.1em;
    font-size: 40px;

}

.visitorNoBody{
    background: white;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 1.3em;
}

.visitorNoForm{
    position: relative;
    top: 6em;
}

.visitorSubmit3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.7em;
    width: 7em;
    color: white;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    border: none;
    position: relative; 
    top: 5em;
}

.visitorSubmit3:hover{
    background: black;
    cursor: pointer;
}

.UnregisteredVisitorForm{
    position: relative;
    bottom: 17em;
}

.VisitorNumber{
    position: relative;
    top: 15.5em;
}

.recButtons li{
    list-style-type: none;
}

.recButton:hover{
    background: darkolivegreen;
}

.recButton{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    left: 5%;
    top: 5em;
    float: left;
    font-weight: 700;
    color: white;
    padding: 1.5em 3em 1.5em;
    text-transform: uppercase;
    border: none;
    background: rgba(0, 0, 0, 0.5);
}

.popup1{
    background: (0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 5em;
    display: none;
    justify-content: center;
    align-items: center;
}


.loginForm1{
    height: 320px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: solid 2px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.loginHeader1{
    width: 500px;
    height: 117px;
    position: relative;
    bottom: 1em;
    right: 0.55em;
    border: solid 2px black;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Grandstander', cursive;
    color: white;
    line-height: 120px;

    background: #100B0B;
    border-bottom: 7px solid #2C7A56;
}

.borrowInput{
    display: block;
    position: relative;
    left: 18%;
    bottom: 1em;
    width: 120%;
}

.submit5 {
    text-decoration: none;
    position: relative;
    left: 36.5%;
    top: 1em;
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-align: center;
    background: #2C7A56;
    border-radius: 1.4em;
    padding: 0.6em;
    width: 7em;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

.submit5:hover{
    background-color: black;
    border-radius: 1.4em;
}

.close1{
    position: relative;
    left: 33.4em;
    bottom: 11.6em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
